* {
  padding: 0;
  margin: 0;
}

.navegador {
  background-color: rgb(72, 72, 192);
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 40px;
  width: 100%;
}

.navegador .logo {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  size: 16px;
  text-decoration: double;
  text-align: center;
  padding: 8px;
  padding-left: 32px;
}
.navegador .links {
  padding-right: 32px;
}
.navegador .links a {
  text-decoration: none;
  text-align: center;
  background-color: rgb(112, 106, 223);
  color: white;
  padding: 8px;
  border-radius: 4px;
}

.barra-lateral-esquerda {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 800px;
  background-color: rgb(255, 98, 98);
}

.barra-lateral-esquerda a {
  width: 350px;
  text-align: center;
  padding: 16px 0px;
  text-decoration: none;
  color: white;
}

.barra-lateral-esquerda a:hover {
  background-color: rgb(173, 173, 173);
  color: black;
}
.home {
  display: flex;
  width: 100%;
}

.home .conteudo-principal {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home .conteudo-principal .conteudo-1 {
  display: flex;
  height: 400px;
  /* width: 100%; */
  display: flex;
  background-color: blue;
}
.home .conteudo-principal .conteudo-2 {
  height: 400px;
  display: flex;
  /* width: 100%; */
  background-color: red;
}

.home .conteudo-principal .conteudo-1 .parte-01 {
  width: 50%;
  background-color: rgba(161, 193, 221, 0.5);
  height: 400px;
}
.home .conteudo-principal .conteudo-1 .parte-02 {
  display: flex;
  width: 50%;
  background-color: rgba(238, 66, 66, 0.5);
  height: 400px;
}
.home .conteudo-principal .conteudo-2 .parte-01 {
  width: calc(100% / 3);
  background-color: rgba(161, 193, 221, 0.5);
  height: 400px;
}
.home .conteudo-principal .conteudo-2 .parte-02 {
  width: calc(100% / 3);
  background-color: rgba(238, 66, 66, 0.5);
  height: 400px;
}
.home .conteudo-principal .conteudo-2 .parte-03 {
  width: calc(100% / 3);
  background-color: rgba(238, 229, 66, 0.5);
  height: 400px;
}

.home .conteudo-principal .conteudo-1 .parte-01 .conjunto {
  background-color: green;
  height: 34px;
  padding: 8px;
  color: white;
  transition: height 500ms;
}
.home .conteudo-principal .conteudo-1 .parte-01 .conjunto:hover {
  height: 236px;
}
.home .conteudo-principal .conteudo-1 .parte-02 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.home .conteudo-principal .conteudo-1 .parte-02 .overlay-inner {
  width: calc((100% - 350px) / 2);
  display: flex;
  background-color: rgba(41, 41, 41, 0.8);
  height: 50px;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 350px;
}

.home .conteudo-principal .conteudo-1 .parte-02 .overlay-text {
  color: white;
  display: block;
  cursor: default;
}

.animacao {
  position: absolute;
  top: 0;
  left: 0;
  margin: 400px 0px 0px 0px;
  animation-name: animacao-capisbara;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  /* border: solid blue 2px; */
}

.animacao img {
  height: 80px;
}

@keyframes animacao-capisbara {
  0% {
    margin-top: 400px;
    transform: rotate(0deg);
  }

  25% {
    margin-top: 500px;
    margin-left: 25%;
    transform: rotate(360deg);
  }
  50% {
    margin-top: 600px;
    margin-left: 50%;
    transform: rotate(30deg);
  }

  75% {
    margin-top: 300px;
    margin-left: calc((100% - 110px));
    transform: rotate(340deg);
  }
  100% {
    margin-top: 400px;
    transform: rotate(0deg);
  }
}
@media screen and (min-width: 768px) {
  .navegador .links a {
    box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  }

  .barra-lateral-esquerda a:hover {
    background-color: rgb(139, 19, 19);
    color: rgb(255, 98, 98);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  }
}

@media screen and (max-width: 768px) {
  .navegador {
    width: 100%;
  }
  .barra-lateral-esquerda {
    height: 400px;
    width: 100%;
  }
  .barra-lateral-esquerda a:hover {
    background-color: rgb(173, 173, 173);
    width: 100%;
    color: black;
  }
  .home {
    flex-direction: column;
    width: 100%;
  }
  .home .conteudo-principal {
    flex-direction: column;
  }
  .home .conteudo-principal .conteudo-1 {
    flex-direction: column;
    width: 100%;
    height: 800px;
  }
  .home .conteudo-principal .conteudo-1 .parte-01 {
    width: 100%;
  }
  .home .conteudo-principal .conteudo-1 .parte-02 {
    width: 100%;
  }
  .home .conteudo-principal .conteudo-1 .parte-02 img {
    width: 100%;
    height: 400px;
  }
  .home .conteudo-principal .conteudo-1 .parte-02 .overlay-inner {
    width: 100%;
  }
  .home .conteudo-principal .conteudo-2 {
    flex-direction: column;
    width: 100%;
    height: 1200px;
  }
  .home .conteudo-principal .conteudo-2 .parte-01 {
    width: 100%;
    height: 400px;
  }
  .home .conteudo-principal .conteudo-2 .parte-02 {
    width: 100%;
    height: 400px;
  }
  .home .conteudo-principal .conteudo-2 .parte-03 {
    width: 100%;
    height: 400px;
  }
}
